{
  "presets": [
    "es2015",
    "stage-0",
    "stage-1",
    "react"
  ],

  "plugins": [
    "transform-react-display-name",
    "transform-decorators-legacy",
    "babel-plugin-add-module-exports"
  ]
}
